html {
    direction: rtl;
    padding:0;
    margin:0;
}
@font-face {
    font-family: "shabnam";
    src: url("../font/Shabnam-Light.ttf");
}
body {
    font-family: shabnam;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f8af9f;
    overflow: hidden;
    transition: background-color 0.2s ease 0s;   
}
.container {
    width: 85%;
    background-color: #fff;
    margin: 60px auto 60px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.circle1 { 
  top: -120%;
  right: -40%;
  width: 1500px;
  height: 1300px;
  background: #f3a998; 
  border-radius: 50%;
  z-index: -100;
  position: fixed; 
}

.circle2 { 
  bottom: -90%;
  left: -30%;
  width: 800px;
  height: 1000px;
  background: #f8b9ab; 
  border-radius: 50%;
  z-index: -100;
  position: fixed; 
}
.circle2 { 
  bottom: -90%;
  left: -30%;
  width: 800px;
  height: 1000px;
  background: #f8b9ab; 
  border-radius: 50%;
  z-index: -100;
  position: fixed; 
}
.dot1 { 
  top: 0%;
  left: 10%;
  color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
  letter-spacing: 5px;
  font-size: 80px;
  z-index: -100;
  position: fixed; 
}
.dot2 { 
  bottom: 5%;
  right: 15%;
  color: rgba(0, 0, 0, 0.2);
  line-height: 15px;
  letter-spacing: 4px;
  font-size: 60px;
  z-index: -100;
  position: fixed; 
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.5s ease 0s;
}
.left {
    width: 23%;
    float: left;
    height: 100%;
    border-radius: 30px 0 0 30px;
    border-right: 2px solid rgba(0, 0, 0, 0.05);
}
.left h2 {
    font-size: 30px;
}
.lcard {
    width: 240px;
    height: 70px;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}
.lcin {
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #0d1847;
}
.lside {
  margin: 0 55px;
}
.center {
    width: 55%;
    float: right;
    height: 100%;
}
.cnav {
    width: 80%;
    height: 60px;
    margin: 40px auto 0;
    border-radius: 20px;
}
.searchin {
    height: 20px;
    color: #d0d0d0;
    border-radius: 10px;
    background-color: #f8f8f7;
    padding: 10px 10px 10px 10px;
}
.cards {
  margin: 0 auto;
  padding: 10px 30px 10px 10px;
  color: #0d1847;
}
.crcard {
  width: 60%;
  float: right;
}
.clcard {
  float: right;
margin: 0 10px 0 0;
}
.cfoot {
  margin-top: 200px;
  margin-right: 0;
}
.cfoot > ul{
  padding: 0;
}
.cfoot > ul > li {
  border-radius: 10px;
  background-color: #e6ecf8;
  margin: 10px 0 0 0;
  padding: 5px 20px;
}
a:hover {
    color: rgba(0, 0, 0, 1);
}
.nav {
    padding: 20px 20px 0 0;
    color: 0;
    font-size: 20px;
}
ul > li{
    list-style: none;
    padding-right: 15px;
    font-size: 20px;
    line-height: 40px;
}
.inner {
    width: 100%;
    padding: 150px 470px;
    color: #FFF;
    transition: color 0.5s ease 0s;
}
.loginin {
    margin: 100px 300px 150px 300px;
    padding: 30px 150px 30px 50px;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.5s ease 0s;    
}

.right {
    float: right;
    width: 20%;
}
.rinside {
  margin-top: 70px;
  border-radius: 40px 0 40px 0;
  height: 66.4vh;
  background-color: #0d2481;
  color: #FFF;
  padding-top: 20px;
}

.rinside ul > li {
  padding: 0 0 20px 10px;
}

.rinside ul > li > a {
  color: rgba(255, 255, 255, 0.5);
}

.rinside ul > li > a:hover {
  color: rgba(255, 255, 255, 1);
}
.mcenter{
  margin: auto;
  width: fit-content;
}
.sidecard img{
  margin: 0 15px 0 0;
}
ul{
  overflow: hidden;
}
@media screen and (max-width: 1250px) {

  
  .rinside{
    display: none;
  }
  .center{
    width: 70%;
  }
  .left{
    width:25%;
  }
}

@media screen and (max-width: 950px) {

  
  .rinside{
    display: none;
  }
  .center{
    width: 100%;
  }
  .left{
    display:none ;
  }
  
}

@media screen and (max-width: 700px) {

  
  .rinside{
    display: none;
  }
  .center{
    width: 100%;
  }
  .left{
    display:none ;
  }
  .clcard{
    display: none;
  }
  .crcard{
    display: block;
    width: 100%;
  }
  
}